.videoPlayer:hover #controls {
  display: block;
}
.videoPlayer{
  background-color: white;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; Adjust the height to your desired value */
}

#video {
  max-width: 100%;
  max-height: 100%;
}
#controls {
  /* display: none; */
  background-color: rgba(43, 43, 43, 0.048);
}

#controls i {
  font-size: 22px;
}
.animate{
  transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.tooltipsForTimestamp{
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 2px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  position: absolute;
  top: -25px; 

}
.videoanimation{
  z-index: 4;
    position: fixed;
    font-size: 40px;
}
.tooltip {
  visibility: hidden;
}
.videoContainer{
  background-color: rgb(0, 0, 0);
  z-index: 3;
}
/* Show the tooltip when the button is hovered */
.control-btn:hover .tooltip {
  visibility: visible;
}
.rightcontrols {
  display: flex;
  float: right;
  position: absolute;
  right: 10px;
}
.leftcontrols {
  display: flex;
  position: relative;
  align-items: center;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.rightcontrols .tooltip{
  text-align: center;
  left: 10px;
}

.control-btn {
  margin-right: 10px;
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
}

.videocontrols {
  display: flex;
}

.control-btn i {
  pointer-events: none;
}

.control-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #ccc;
  cursor: pointer;
}

.control-bar:hover {
  padding: 1px;
}

.control-bar:hover .seeker {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
}
.control-bar:hover .tooltipsForTimestamp {
  display: block;
  visibility: visible;
}

#progress-bar {
  margin-bottom: 10px;
  margin-top: 10px;
}

#progress {
  transition: 0.3s linear;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
}



#volume-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#volume-bar {
  /* display: none; */
  position: absolute;
  /* display: flex; */
  margin-left: 50px;
  text-align: center;
  width: 60px;
  cursor: pointer;
}

.theater-mode {
  position: relative;
  width: 50% !important;
  height: 50% !important;
}

.theater-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  z-index: 1;
}

.control-text {
  margin-right: 20px;
  font-weight: bolder;
}

.seeker {
  /* display: none; */
  padding: 5px;
  border-radius: 50%;
  width: 0px;
  position: absolute;
  bottom: -2px;
  background-color: red;
  margin-left:-2px;
  transition: 0.3s linear;
}


.range input {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 5px;
  background-color: #ccc;
  outline: none;
}

.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #797777;
  background-color: ();
}

.range input::-webkit-s {
  background-color: #0f0;
}

.range span {
  display: none;
  position: absolute;
  margin-left: 50%;
  bottom: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 30px;
  background-color: #222;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
}

.range:hover span {
  display: block;
}